<!-- Blake Howard, 11082016 -->

    <div class="ui left demo vertical inverted sidebar labeled icon menu">

         <%= link_to(welcome_index_path, :class => 'item') do %>
            <i class="star icon"></i>Favorites
          <% end %>

      <%= link_to(favorites_edit_path, :class => 'item') do %>
        <i class="search icon"></i>Search
      <% end %>


   <%= link_to(degree_requirments_find_path, :class => 'item') do %>
        <i class="book icon"></i>Degree Requirements
      <% end %>

    <%= link_to(past_courses_edit_path, :class => 'item') do %>
         <i class="edit icon"></i>Edit Profile
      <% end %>

   <%= link_to(about_aboutus_path, :class => 'item') do %>
        <i class="info circle icon"></i>AboutUs
      <% end %>


    </div>




